<style>
  h1 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

img {
height: 60px;
}
</style>
{{!-- {{> adminheader}} --}}


<div class="col-md-6 offset-md-3 mt-5">
  {{!-- <a target="_blank" href="https://getform.io?ref=codepenHTML">
    <img src='https://i.imgur.com/O1cKLCn.png'>
  </a>
  <br>
  <a target="_blank" href="https://getform.io?ref=codepenHTML" class="mt-3 d-flex">Getform.io | Get your free endpoint
    now</a> --}}
  {{!-- <h1>Getform.io HTML Form Example with File Upload</h1> --}}
  {{!-- enctype="multipart/form-data" --}}
  <form action="/admin/getProduct" method="POST" enctype="multipart/form-data" >
    <div class="form-group">
      <label for="exampleInputName">Product Name</label>
      <input type="text" name="productname" class="form-control" 
        placeholder="Enter Product Name" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" required>Category</label>
      <input type="text" name="category" class="form-control"
        placeholder="Enter category">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" required>Description</label>
      <input type="text" name="description" class="form-control"  
        placeholder="description">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" required>Price</label>
      <input type="number" name="price" class="form-control"  
        placeholder="Price">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" required>Quantity</label>
      <input type="number" name="quantity" class="form-control"  
        placeholder="Quantity">
    </div>
    
    <hr>
    <div class="form-group mt-3">
 <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 5MB</p>      <label class="mr-2">Upload your Image:</label>
      <input type="file" name="image" required>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>